<head>
  <style>
    button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  </style>
</head>
<h1>View Your Cart</h1>
<center>
<table>
  <thead>
    <tr>
      <th>Select</th>
      <th>Name</th>
      <th>Directions</th>
      <th>Description</th>
      <th>Origin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes_list.each do |recipeCart| %>
        <tr>
          <% recipeCart.recipe.each do |recipe| %>
            <td><input type="checkbox" value="selectedRecipe" checked></td>
            <td><%= recipe.name %></td>
            <td><%= recipe.directions %></td>
            <td><%= recipe.description %></td>
            <td><%= recipe.origin %></td>
          <% end %>
          <td><%= link_to 'Remove from cart', recipeCart.cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<button class="button" onclick=" $(location).attr('href', 'create_list')">Create Grocery List</button></center>
<!--<button class="button" onclick=" $(location).attr('href', 'signup')">SIGN UP</button>-->
