<h1>Cart#index</h1>
<p>Find me in app/views/cart/index.html.erb</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Ingredients</th>
      <th>Instructions</th>
      <th>Note</th>
      <th>Tags</th>
      <th>Origin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes_list.each do |recipeCart| %>
        <tr>
          <% recipeCart.recipe.each do |recipe| %>
            <td><%= recipe.name %></td>
            <td><%= recipe.description %></td>
            <td><%= recipe.ingredients %></td>
            <td><%= recipe.instructions %></td>
            <td><%= recipe.note %></td>
            <td><%= recipe.tags %></td>
            <td><%= recipe.origin %></td>
          <% end %>
          <!-- Change to cart --!>
          <td><%= link_to 'Remove from cart', recipeCart.cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
