<head>
  <%= stylesheet_link_tag "cart" %>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>View Your Cart</h1>
<div id="content">
  <% @recipes_list.each do |recipeCart| %>
   <% recipeCart.recipe.each do |recipe| %>
  <div class="recipe"> 
		<div class="image">
		  <%= image_tag recipe.picture, size:"200x325" %>
	<div class="name">
	 			<h3><%= recipe.name %></h3>
	 </div>
	 </div>
	 <ul class="media">
	   		<li><i class="fa fa-clock-o"></i> ><%= recipe.prep_time %> Minutes</li>
		    <li><i class="fa fa-cutlery"></i> <%= recipe.servings %> People</li>
		    <%= link_to ' <li><i class="fa fa-trash"></i> Remove</li>'.html_safe, recipeCart.cart, method: :delete, data: { confirm: 'Are you sure?' } %>
  		</ul>
	</div>
	   <% end %>
  <% end %>
</div>
<br>
<center>
<button class="button" onclick=" $(location).attr('href', 'create_list')">Create Grocery List</button></center>
