<head>
<%= stylesheet_link_tag "cart" %>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2>View Your Cart</h2>
<br>
<center>
<button class="btn btn-outline btn-xl page-scroll" onclick=" $(location).attr('href', 'create_list')">Create Grocery List</button>
</center>
<br>
<div id="content">
  <% @recipes_list.each do |recipeCart| %>
   <% recipeCart.recipe.each do |recipe| %>
  <div class="recipe"> 
		<div class="image">
		  <%= if recipe.picture?  
		  link_to image_tag(recipe.picture, size:"200x325"), recipe
              else
                pic_url_length = recipe.picture.to_s.length
                beginning_index = recipe.picture.to_s.index('http')
                if (beginning_index.nil?)
                  link_to image_tag('fallback/recipe-default.png', size:"200x325"), recipe
                else
                  cut_url = recipe.picture.to_s[beginning_index, pic_url_length]
                  new_url = cut_url.gsub!('%3A', ":/")
                  link_to image_tag(new_url, size:"200x325"), recipe
                end
            end %>
	<div class="name">
	 			<h3><%= recipe.name %></h3>
	 </div>
	 </div>
	 <ul class="media">
	   		<li><i class="fa fa-clock-o"></i> ><%= recipe.prep_time %> Minutes</li>
		    <li><i class="fa fa-cutlery"></i> <%= recipe.servings %> People</li>
		    <%= link_to ' <li><i class="fa fa-trash"></i> Remove</li>'.html_safe, recipeCart.cart, method: :delete, data: { confirm: 'Are you sure?' } %>
  		</ul>
	</div>
	   <% end %>
  <% end %>
</div>
<br>
<center>
<button class="btn btn-outline btn-xl page-scroll" onclick=" $(location).attr('href', 'create_list')">Create Grocery List</button>
</center>
<br>