<head>
    <%= stylesheet_link_tag "users_show" %>
    <style>
        body {
            background-color: #FFF;
        }
    </style>
</head>
<body>
    <h2>Meal Plans</h2>
    <h4>Easily organize recipes into sets using meal plans</h4>
    <center><br><button class="btn btn-outline" onClick="newPlan()">Create a new Meal Plan</button></center>
    <% if @userPlans.length == 0 %> 
    <center><p style="margin-top: 30px;">You currently have 0 meal plans.</p></center>
    <% end
        @userPlans.each do |plan|
    %> 
            <h2 class="section-heading"><a href="/mealplans/<%= plan.id %>"><%= plan.name %></a></h2>
            <%= link_to '<i class="fa fa-trash">Delete</i>'.html_safe, '/deleteplan/'+plan.id.to_s, method: :destroy, data: { confirm: 'Are you sure?' }, style: "display: inline-block; text-align: right"%>
                             <br>
                              <% @recipes_array = Plan.where(meal_plan_id: plan.id).pluck(:recipe_id)
                                    # puts(@recipes_array)
                                    @recipes_array.each do |index|
                                    recipe = Recipe.find(index)
                                    if recipe.picture?
                                        pic_url = recipe.picture_url
                                    else
                                        pic_url_length = recipe.picture.to_s.length
                                        beginning_index = recipe.picture.to_s.index('http')
                                        cut_url = recipe.picture.to_s[beginning_index, pic_url_length]
                                        pic_url = cut_url.gsub!('%3A', ":/")
                                    end %>
                                            <div class="recipe">
                                                <div class="image">
                                                    <a href="/recipes/<%=recipe.id%>"><%= image_tag(pic_url, size:"300x300")%></a>
                                                    <div class="name">
                                                        <a href="/recipes/<%=recipe.id%>" style="color:white;"><%= recipe.name %></a>
                                                    </div>
                                                </div>
                                                <ul class="media">
                            	   		            <li><i class="fa fa-clock-o"></i> ><%= recipe.prep_time %> Minutes</li>
                            		                <li><i class="fa fa-cutlery"></i> <%= recipe.servings %> People</li>
                      		                    </ul>
                                            </div>
                                <% end %>
    <br><br>
    <% end %>
</body>
