<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "users_show" %>
</head>
<body>
    <br>
    <center><h1><%=@mealplan.name %></h1></center>
      <div id='saved-recipes'>
        <h2>Recipes</h2>
        <div class=content>
          <% if @recipes.length == 0 %>
            <p>This meal plan has no recipes</p>
          <% end %>
          <% @recipes.each do |recipe| %>
          <div class="recipe"> 
		        <div class="image">
		          <%= if recipe.picture?  
                link_to image_tag(recipe.picture, size:"200x325"), recipe
              else
                pic_url_length = recipe.picture.to_s.length
                beginning_index = recipe.picture.to_s.index('http')
                if (beginning_index.nil?)
                  link_to image_tag('fallback/recipe-default.png', size: "200x325"), recipe
                else
                  cut_url = recipe.picture.to_s[beginning_index, pic_url_length]
                  new_url = cut_url.gsub!('%3A', ":/")
                  link_to image_tag(new_url, size:"200x325"), recipe
                end
              end %>
	            <div class="name">
	 			        <h3><%= recipe.name %></h3>
	            </div>
	           </div>
	         <ul class="media">
	           <% @plan = Plan.find_by(recipe_id: recipe.id, meal_plan_id: @mealplan.id)%>
  	   		  <%= link_to '<li><i class="fa fa-trash"></i>Remove</li>'.html_safe, '/plans/'+@plan.id.to_s, method: :destroy, data: { confirm: 'Are you sure?' } %>
  		      <%= link_to '<li><i class="fa fa-list-alt"></i>Show</li>'.html_safe, recipe %>
  		      <%= link_to '<li><i class="fa fa-cart-plus"></i>Cart</li>'.html_safe, carts_path(:user => session['user_id'], :recipe => recipe.id), :method => :post %>
  		      <a onclick="mealPlan()"><i class="fa fa-book">Add to Meal Plan</i></a>
  		     </ul>
	       </div>
        <% end %>
        </div>
      </div>
</body>
</html>