<%= form_for(@saved_recipe) do |f| %>
  <% if @saved_recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saved_recipe.errors.count, "error") %> prohibited this saved_recipe from being saved:</h2>

      <ul>
      <% @saved_recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :personal %><br>
    <%= f.check_box :personal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
