<p id="notice"><%= notice %></p>
<head>
      <%= stylesheet_link_tag "recipes_tab" %>
</head>
<h1>Recipes</h1>
<h3>Search for a recipe:</h3>
<br>
<center>
<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
   <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
   <%= submit_tag "Search", :name => nil %>
<% end %>

<br>
</center>
<% if @recipes.blank?%>
  <h4>There are no recipes containing the term: "<%= params[:search] %>"</h4>
<% else unless params[:search].nil? %>
<center>
<table>
 <thead>
   <tr>
    <th>Picture</th>
     <th>Name</th>
     <th colspan="2">Actions</th>
   </tr>
 </thead>

 <tbody>
   <% @recipes.each do |recipe| %>
     <tr>
      <td><%= image_tag recipe.picture, size: "220x150" %></td>
      <td><%= recipe.name %></td>
      <td><%= link_to 'Show', recipe %></td>
      <td><%= link_to "Add to cart", carts_path(:user => session['user_id'], :recipe => recipe.id), :method => :post %></td>
     </tr>
   <% end %>
 </tbody>
</table>
</center>
<% end end %>
<br><br>
<br>
<hr>
<br>

<h3>Upload a recipe via:</h3>
<br>
<div class="container1">
 <div id="manualentry"><%= link_to(image_tag("cookbook.png", :alt => "cookbook", :size => "170x170", :style => "background-color: white;"), new_recipe_path) %><br><%= link_to 'Manual Entry', new_recipe_path, :style => "color: white;" %></div>
 <div id="copypaste"><%= link_to(image_tag("copypaste.png", :alt => "clipboard", :size => "170x170", :style => "background-color: white;"), "/recipes") %><br><%= link_to 'Copy/Paste', "/recipes", :style => "color: white;" %></div>
 <div id="url"><%= link_to(image_tag("url.png", :alt => "http", :size => "170x170", :style => "background-color: white;"), "/recipes" ) %><br><%= link_to 'URL', "/recipes", :style => "color: white;" %></div>
</div>
