<p id="notice"><%= notice %></p>
<head>
<style> 
input[type=text] {
   width: 300px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   padding: 12px 20px 12px 20px;
   -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
   width: 80%;
}

input[type=submit] {
   font-size: large;
}
h4 {
 text-align: center;
 color: white;
}
.container1 {
 text-align: center;
}
.cellContainer {
 width: 25%;
 float: left;
}
#manualentry {
 display: inline-block;
 margin-left: 25em;
 float: left;
}
#copypaste {
 display: inline-block;
}
#url {
 display: inline-block;
 margin-right: 25em;
  float: right;
}
table {
  margin: 30px;
}
</style>
</head>
<h1>Recipes</h1>
<h3>Search for a recipe:</h3>
<br>
<center>
<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
   <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
   <%= submit_tag "Search", :name => nil %>
<% end %>
<br>
</center>
<% if @recipes.blank?%>
  <h4>There are no recipes containing the term: "<%= params[:search] %>"</h4>
<% else unless params[:search].nil? %>
<center>
<table>
 <thead>
   <tr>
    <th>Picture</th>
     <th>Name</th>
      <th colspan="3"></th>
   </tr>
 </thead>

 <tbody>
   <% @recipes.each do |recipe| %>
     <tr>
      <td><%= image_tag recipe.picture, size: "200x200" %></td>
      <td><%= recipe.name %></td>
      <td><%= link_to 'Show', recipe %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to "Add to cart", carts_path(:user => session['user_id'], :recipe => recipe.id), :method => :post %></td>
     </tr>
   <% end %>
 </tbody>
</table>
</center>
<% end end %>
<br><br>
<br>
<hr>
<br>

<h3>Upload a recipe via:</h3>
<div class="container1">
 <div id="manualentry"><%= link_to(image_tag("cookbook.png", :alt => "cookbook", :size => "200x200", :style => "background-color: white;"), new_recipe_path) %><br><%= link_to 'Manual Entry', new_recipe_path %></div>
 <div id="copypaste"><%= link_to(image_tag("copypaste.png", :alt => "clipboard", :size => "200x200", :style => "background-color: white;"), "/recipes") %><br><%= link_to 'Copy/Paste', "/recipes" %></div>
 <div id="url"><%= link_to(image_tag("url.png", :alt => "http", :size => "200x200", :style => "background-color: white;"), "/recipes" ) %><br><%= link_to 'URL', "/recipes" %></div>
</div>
