<p id="notice"><%= notice %></p>
<head>
    <%= stylesheet_link_tag "recipes_tab" %>
    <%= stylesheet_link_tag "recipe_search_results" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<h1>Recipes</h1>
<h3>Search for a recipe:</h3>
<br>
<center>
<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
   <%= text_field_tag :search, params[:search], placeholder: "Search Recipes" %>
   <%= submit_tag "Search", :name => nil %>
<% end %>

<br>
</center>
<% if @recipes.blank?%>
  <h4>There are no recipes containing the term: "<%= params[:search] %>"</h4>
<% else unless params[:search].nil? %>
<div id="content">
    <% @recipes.each do |recipe| %>
    <div class="recipe">
        <div class="image">
            <%= if recipe.picture?
                    link_to image_tag(recipe.picture_url, size: "100x325"), recipe 
                else
                    pic_url_length = recipe.picture_url.to_s.length
                    beginning_index = recipe.picture_url.to_s.index('http')
                    cut_url = recipe.picture_url.to_s[beginning_index, pic_url_length]
                    new_url = cut_url.gsub!('%3A', ":/")
                    link_to image_tag(new_url, size: "100x325"), recipe
                end
            %>
            <div class="name">
	 			<h4><%= recipe.name %></h4>
	        </div>
        </div>
        <ul class="media">
	   		<li><i class="fa fa-clock-o"></i> ><%= recipe.prep_time %> Minutes</li>
		    <li><i class="fa fa-cutlery"></i> <%= recipe.servings %> People</li>
  		</ul>
    </div>
     <% end %>
  <% end %>
  <% end %>
</div>


<br><br>
<br>
<hr>
<br>

<h3>Upload a recipe via:</h3>
<br>
<div class="container1">
 <div id="manualentry"><%= link_to(image_tag("cookbook.png", :alt => "cookbook", :size => "170x170", :style => "background-color: white;"), new_recipe_path) %><br><%= link_to 'Manual Entry', new_recipe_path, :style => "color: white;" %></div>
 <div id="copypaste"><%= link_to(image_tag("copypaste.png", :alt => "clipboard", :size => "170x170", :style => "background-color: white;"), "/recipes") %><br><%= link_to 'Copy/Paste', "/recipes", :style => "color: white;" %></div>
 <div id="url"><%= link_to(image_tag("url.png", :alt => "http", :size => "170x170", :style => "background-color: white;"), "/recipes" ) %><br><%= link_to 'URL', "/recipes", :style => "color: white;" %></div>
</div>
