<head>
  <%= stylesheet_link_tag "new_recipes" %>
  <%= javascript_include_tag('recipe.js') %>
  <%= stylesheet_link_tag "multi-select", media: 'screen' %>
  <%= javascript_include_tag('jquery.multi-select.js') %>
  <script>$(function(){
      $('#tags').multiSelect();  
      
      
      function showSelectsd(){
        var sel = $('#tags')[0];
        var selValues = "";
        for(i=0; i < sel.length; i++){
          if(sel.options[i].selected){
            selValues += sel.options[i].value;
            
          }
        }
      }
    });
  </script>
</head>
<h2>Add New Recipe</h2>
<center>
<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form-div">
    <form class="form" id="form1">
      <center><img id="picture" src="/assets/pic-generic.png"height="150" width="150"></center>
      <%= f.label "Upload an image for your recipe:"%>
      <%= f.file_field :picture,  :class => "uploadfield"%><br>
      <%= f.text_field :name, placeholder: "Recipe Title", id: "title"%>
      <%= f.text_area :description, placeholder: "Enter a detailed description of your recipe here"%>
      <%= f.text_area :directions, placeholder: "List the directions for your recipe with each step separated by a period"%>
      <br>
      <%= f.label "Add tags to the recipe"%>
      <%= select_tag "tags", 
       "<option value='Gluten Free'>Gluten Free</option>
        <option value='Vegan'>Vegan</option>
        <option value='Lactose Intolerant'>Lactose Intolerant</option>
        <option value='Peanut Free'>Peanut Free</option>
        <option value='Soy Free'>Soy Free</option>
        <option value='Vegitarian'>Vegitarian</option>
        <option value='Breakfast'>Breakfast</option>
        <option value='Lunch'>Lunch</option>
        <option value='Dinner'>Dinner</option>".html_safe, 
        multiple: true %>
      <br>  
      <%= f.label "Make this recipe private:" %>                                     
      <%= hidden_field_tag 'private', false %>
      <%= check_box_tag  'private', 1, true, :class => "checkbox" %><br>
      <%= f.text_field :prep_time, placeholder: "How many minutes does it take to cook this recipe?"%>
      <%= f.text_field :servings, placeholder: "Serving size"%>
      <%= f.text_field :origin, placeholder: "Where did you get this recipe?"%>
      <h3>Ingredients</h3><div id='addIngredient' type="button" class="btn btn-outline btn-xl page-scroll">Add Ingredient</div>

        <div id='header' style="display:none;">
      <center>
      <table id="ingredients"><tbody>
          <tr>
            <th>Quantity</th>
            <th>Unit</th>
            <th>Ingredient</th>
            <th>Preparation</th>
          </tr>
  </tbody></table></center></div>
  <br><br>
      <div class="submit">
        <input type="submit" value="Add Recipe" id="button-blue" class="btn btn-outline btn-xl page-scroll"/>
    </form>
      </div>
  </div>
<% end %>
</center>
