<p id="notice"><%= notice %></p>
<head>
  <style>
      .icon-bar {
    position: fixed;
    z-index: 2;
    width: 40px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    top: 50%;
    right: 0;
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 4px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 20px; /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}
table {
    border: 5px solid black;
    padding: 10px;
    align :center
  }
  td{
   
  }
  tr{
    padding: 10px 20;     /* 10px top & bottom padding, 0px left & right */
    border-width: 1px 1px; /*  1px top & bottom border,  0px left & right */
    border-color: black;
    border-style: solid;
  }
  th{
     
  }
  #title{
    position: realtive;
    margin-left: auto; 
    width: 70%;
    left: 50px;
  }
  #desc{
    margin-left: auto; 
    width: 70%;
  }
  #direct{
    margin-left: auto; 
    width: 70%;
  }
  #origin{
    margin-left: auto; 
    width: 70%;
  }
  #picture{
    position: static;
    left: 10px;
    top: 10px;
  }
  </style>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">
  <a class="active" href="/recipes"><i class="fa fa-search"></i></a> 
  <a href="#print"><i class="fa fa-print" onclick=printpage()></i></a> 
  <a href="#save"><i class="fa fa-save"></i></i></a> 
  <a href="#share"><i class="fa fa-facebook"></i></a> 
  <a href="/cart"><i class="fa fa-cart-plus"></i></i></a> 
  <a href="/calendar"><i class="fa fa-calendar"></i></a> 
</div>
<h1><%= @recipe.name %></h1>

<p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>

<p id="notice"><%= notice %></p>
<br><br><br><br>
  <img id="picture" src="/assets/pic-generic.png" alt="Smiley face" height="200" width="200">
  <div class="field" id="title">
    <%= label :name, "Recipe Title" %><br>
    <%= text_field @recipe.name, :size=>"100"%>
  </div>
  <div class="field" id="desc">
    <%= label :description, "Description"%><br>
    <%= text_area @recipe.description, size: "91x5"%>
  </div>
  <div class="field" id="direct">
    <%= label :directions, "Directions"%><br>
    <%= text_area @recipe.directions, size: "91x10" %>
  </div>
  <div class="field" id="origin">
    <%= label :origin, "Origin"%><br>
    <%= text_field @recipe.origin, :size=>"20" %>
  </div>
<div class= "table-holder"><center>
  <h3>Ingredients</h3><button id='addIngredient' type="button">Add Ingredient</button>
  <table id="ingredients"><tbody>
    <tr>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Ingredient</th>
      <th>Preparation</th>
    </tr>
  </tbody></table></center>
</div>
<%= link_to 'Add To Cart', recipes_path %>
