<p id="notice"><%= notice %></p>
<head>
  <style>
      .icon-bar {
    position: fixed;
    z-index: 2;
    width: 40px; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    top: 50%;
    right: 0;
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 4px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 20px; /* Increased font-size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}
  #title{
    position: realtive;
    margin-left: auto; 
    width: 70%;
    left: 50px;
  }
  #desc{
    margin-left: auto; 
    width: 70%;
  }
  #direct{
    margin-left: auto; 
    width: 70%;
  }
  #origin{
    margin-left: auto; 
    width: 70%;
  }
  #picture{
    position: static;
    left: 10px;
    top: 10px;
  }
.recipe-image {
  margin-left: 5em;
  height: 25%;
  width: 25%;
}
.container{
  position: relative;
}
.table-direction-review{
  position: absolute;
  left: 500px;
}
#description{
  position: absolute;
  left: 500px;
  top: 200px;
}
#origin{
  position: absolute;
  left: 500px;
  top: 300px;
}
#bottom-links{
  position: realtive;
  bottom: 0;
}
strong{
  color: white;
}
.review-container{
  position: absolute;
  left: 500px;
}
.reviews{
  
}
.new-review{

}

/*  Crisp Table taken from https://codepen.io/anon/pen/Ebrodq */
@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Patua+One|Open+Sans);

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

table {
  border-collapse: separate;
  background:#fff;
  @include border-radius(5px);
  margin:50px auto;
  @include box-shadow(0px 0px 5px rgba(0,0,0,0.3));
}

thead {
  @include border-radius(5px);
}

thead th {
  font-family: 'Patua One', cursive;
  font-size:16px;
  font-weight:400;
  color: black;
  @include text-shadow(1px 1px 0px rgba(0,0,0,0.5));
  text-align:left;
  padding:20px;
  @include background-image(linear-gradient(#646f7f, #4a5564));
  border-top:1px solid #858d99;
  
  &:first-child {
   @include border-top-left-radius(5px); 
  }

  &:last-child {
    @include border-top-right-radius(5px); 
  }
}

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#5f6062;
  font-size:13px;
  padding:20px 20px 20px 20px;
  border-bottom:1px solid #e0e0e0;
  
}

tbody tr:nth-child(2n) {
  background:#f0f3f5;
}

tbody tr:last-child td {
  border-bottom:none;
  &:first-child {
    @include border-bottom-left-radius(5px);
  }
  &:last-child {
    @include border-bottom-right-radius(5px);
  }
}

tbody:hover > tr td {
  @include opacity(0.5);
  
  /* uncomment for blur effect */
  /* color:transparent;
  @include text-shadow(0px 0px 2px rgba(0,0,0,0.8));*/
}

tbody:hover > tr:hover td {
  @include text-shadow(none);
  color:#2d2d2d;
  @include opacity(1.0);
}

  </style>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">
  <a class="active" href="/recipes"><i class="fa fa-search"></i></a> 
  <a href="#print"><i class="fa fa-print" onclick=printpage()></i></a> 
  <a href="#save"><i class="fa fa-save" onclick=openPopup()></i></i></i></a> 
  <td><%= link_to "Save recipe", saved_recipes_path(:user_id => session['user_id'], :recipe_id => @recipe.id, :personal => 0), :method => :post %></td>
  <a href="#share"><i class="fa fa-facebook"></i></a> 
  <a href="/cart"><i class="fa fa-cart-plus"></i></i></a> 
  <a href="/calendar"><i class="fa fa-calendar"></i></a> 
</div>
<br>
<h1><%= @recipe.name %></h1>
<% if @recipe.picture? %>
<div class="recipe-image"><%= image_tag @recipe.picture, size: "350x350" %></div>
<% else %>
<div class="recipe-image"><%= image_tag 'pic-generic.png', size: "350x350" %></div>
<% end %>
<div>
<p id="description">  
<strong>Description:</strong><br>
  <%= @recipe.description %>
</p>
<p id="notice"><%= notice %></p>
<p id="origin">
  <strong>Origin:</strong><br>
  <%= @recipe.origin %>
</p>
<div class= "table-direction-review">
  <table id="ingredients">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Ingredient</th>
      <th>Preparation</th>
    </tr>
  </thead>
  <tbody>
    <% #Loop over ingredients
      ingredients = @recipe.instructions
      for i in ingredients do
        ingredient_string = Ingredient.find(i.ingredient_id).name
    %>
        <tr>
          <td><%= i.amount %></td>
          <td><%= i.unit %></td>
          <td><%= ingredient_string %></td>
          <td><%= i.prep_note %></td>
        </tr>
    <% end %>
  </tbody>
  </table>  
  <p id="directions">
    <strong>Directions:</strong><br>
    <%= @recipe.directions %>
  </p>
  
  <div class="new-review">
    <h2>Add Review</h2>
    <%= form_tag("/addReview", method: "post") do %>
    <%= label_tag :review %> 
    <%= text_area_tag :review, nil, size: "30x5" %>
    <%= label_tag :rating %>
    <%= number_field_tag('rating', nil, min: 1, max: 5, step: 1) %>
    <%= hidden_field_tag 'recipe_id', @recipe.id %>
    <%= submit_tag("Add") %>
    <% end %>
  </div>
  <br><br>
  <div class="reviews">
    <h2>Reviews</h2>
    <% # Loop over reviews
      unless @recipe.reviews.empty?
    %>
    <table>
      <thead>
        <tr>
          <th> User </th>
          <th> Review </th>
          <th> Rating </th>
        </tr>
      </thead>
      <tbody>
    <%
      reviews = @recipe.reviews
      for r in reviews do
        user_name = User.find(r.user_id).username
    %>
        <tr>
          <td><%= user_name %></td>
          <td><%= r.text %></td>
          <td><%= r.rating %></td>
        </tr>
    <% end # end of loop %> 
      </tbody>
    </table>
    <% end # end of unless %>
  </div>
</div>
<div id="bottom-links">
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %> |
<%= link_to 'Add To Cart', recipes_path %> 
</div>