<p id="notice"><%= notice %></p>
<br><br><br><br>
<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Note:</strong>
  <%= @recipe.note %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @recipe.tags %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @recipe.origin %>
</p>

<%= link_to 'Back', recipes_path %>
<%= link_to 'Add To Cart', recipes_path %>
