<head>
     <%= stylesheet_link_tag "new_recipes" %>
    <%= javascript_include_tag('recipe.js') %>
 </head>
 
 <body>
<div class="wrapper">
 
<div class="header"><h2>Save a recipe to Grocery Guru using our import tools!</h2></div>
 <br>
	<div class="column-left"><center><p>1. Paste your entire recipe here.</p></center><textarea rows="20" cols="50" style="height: 100%;">
</textarea></div>
 
	<div class="column-center"><center><p>2. Highlight the title from the recipe on the left then click on "Import Title", repeat for the rest of the fields where applicable.</p><button id='title-button' onclick="importField('title')" class='btn btn-outline' style="margin: 10px 0">Import Title <i class='fa fa-angle-double-right'></i></button><br>
	<button onclick="importField('desc')" class='btn btn-outline' style="margin: 10px 0">Import Description <i class='fa fa-angle-double-right'></i></button>
	<button onclick="importField('directions')" class='btn btn-outline' style="margin: 10px 0">Import Directions <i class='fa fa-angle-double-right'></i></button>
	<button onclick="importField('ingr')" class='btn btn-outline' style="margin: 10px 0">Import Ingredients <i class='fa fa-angle-double-right'></i></button>
	<button onclick="importField('time-to-cook')" class='btn btn-outline' style="margin: 10px 0">Import Time to Cook <i class='fa fa-angle-double-right'></i></button>
	<button onclick="importField('servings')" class='btn btn-outline' style="margin: 10px 0">Import Serving Size <i class='fa fa-angle-double-right'></i></button>
	<button onclick="importField('source')" class='btn btn-outline' style="margin: 10px 0">Import Source <i class='fa fa-angle-double-right'></i></button></center></div>
 
	<div class="column-right"><center><p>3. Fill out any remaining fields and fix any errors.</p></center>
	  <%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-div" style= "padding: 10px;">
    <form class="form" class="form1">
      <%= f.label "Upload an image for your recipe:"%>
      <center>
      <%= f.file_field :picture,  :class => "uploadfield", :style => "width: 100%;" %><br>
      <%= f.text_field :name, placeholder: "Recipe Title", id: "title"%>
      <%= f.text_area :description, placeholder: "Enter a detailed description of your recipe here", id: "description" %>
      <%= f.text_area :directions, placeholder: "List the directions for your recipe with each step separated by a period", id: "directions" %>
      <textarea placeholder="Ingredients, one per line"></textarea>
      <br>
      <%= f.label "Make this recipe private:" %>
      <%= check_box_tag  'private', 'true', false, :class => "checkbox" %><br>
      <%= f.text_field :prep_time, placeholder: "Prep and cook time (in minutes)", id: "time-to-cook"%>
      <%= f.text_field :servings, placeholder: "Serving size", id: "servings" %>
      <%= f.text_field :origin, placeholder: "Where did you get this recipe?", id: "source" %>
      <h3>Ingredients</h3><div class='addIngredient' type="button" class="btn btn-outline btn-xl page-scroll">Add Ingredient</div>
  <br><br>
      
</div>
    
</div>
<div class="footer"><center><p>4. Save the recipe to Grocery Guru!</p><div class="submit">
        <input type="submit" value="Import Recipe To Grocery Guru!" class="btn btn-outline btn-xl page-scroll"/><% end %></form></center>
  </div></div>
 </body>
