<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br><br><br>
  <!--<div class="field">-->
  <!--  <%#= f.label :id %><br>-->
  <!--  <%#= f.number_field :id %>-->
  <!--</div>-->
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <!--<div class="field">-->
  <!--  <%#= f.label :admin %><br>-->
  <!--  <%#= f.check_box :admin %>-->
  <!--</div>-->
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :gluten_free %><br>
    <%= f.check_box :gluten_free %>
  </div>
  <div class="field">
    <%= f.label :lactose_intol %><br>
    <%= f.check_box :lactose_intol %>
  </div>
  <div class="field">
    <%= f.label :organic %><br>
    <%= f.check_box :organic %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
