<head>
  <%= stylesheet_link_tag "recipe" %>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p id="notice"><%= notice %></p>
<h2> User Profile</h2>
<div class="user-profile">
    <div class="avatar">
	  <%= image_tag @user.picture.url if @user.picture? %>
	  </div>
    <div class="username"><%= @user.first_name %> <%= @user.last_name %></div>
    <div class="bio">
  	Biography:
  </div>
    <div class="description">
      <%= @user.bio%> <br>
  </div>
  <div class="bio">
  	Dietary Preferences:
  </div>
    <div class="description">
      Gluten free: <%= @user.gluten_free %>
      <br>Lactose intolerant: <%= @user.lactose_intol %>
      <br>Organic: <%= @user.organic %>
  </div>
  <ul class="data">
    <li>
      <span class="entypo-edit"><%= link_to 'Edit My Profile', edit_user_path(@user) %></span>
    </li>
 </ul>
</div>
  <footer>
  </footer>
  
<p>
  <div class="title-pen"><span>Saved Recipes</span></div>
</p>
<div id="content">
   <% @saved_recipes.each do |recipeList| %>
     <% recipeList.each do |recipe| %>
  <div class="recipe"> 
		<div class="image">
		  <%= if recipe.picture?  
        link_to image_tag(recipe.picture, size:"200x325"), recipe
      else
        pic_url_length = recipe.picture.to_s.length
        beginning_index = recipe.picture.to_s.index('http')
        cut_url = recipe.picture.to_s[beginning_index, pic_url_length]
        new_url = cut_url.gsub!('%3A', ":/")
        link_to image_tag(new_url, size: "200x325"), recipe
      end %>
	<div class="name">
	 			<h3><%= recipe.name %></h3>
	 </div>
	 </div>
	 <ul class="media">
	   		<%= link_to '<li><i class="fa fa-trash"></i>Remove</li>'.html_safe, SavedRecipe.find_by(recipe_id: recipe.id), method: :destroy, data: { confirm: 'Are you sure?' } %>
		    <%= link_to '<li><i class="fa fa-list-alt"></i>Show</li>'.html_safe, recipe %>
		    <%= link_to '<li><i class="fa fa-cart-plus"></i>Cart</li>'.html_safe, carts_path(:user => session['user_id'], :recipe => recipe.id), :method => :post %>
  		</ul>
	</div>
	   <% end %>
  <% end %>
</div>

<p>
  <div class="title-pen"><span>Personal Recipes</span></div>
</p>
<div id="content">
   <% @personal_recipes.each do |recipeList| %>
     <% recipeList.each do |recipe| %>
  <div class="recipe"> 
		<div class="image">
		  <%= if !recipe.picture.nil?  
        link_to image_tag(recipe.picture, size:"200x325"), recipe
      else
        pic_url_length = recipe.picture.to_s.length
        beginning_index = recipe.picture.to_s.index('http')
        cut_url = recipe.picture.to_s[beginning_index, pic_url_length]
        new_url = cut_url.gsub!('%3A', ":/")
        link_to image_tag(new_url, size: "200x325"), recipe
      end %>
	<div class="name">
	 			<h3><%= recipe.name %></h3>
	 </div>
	 </div>
	 <ul class="media">
	   		<%= link_to '<li><i class="fa fa-trash"></i>Delete</li>'.html_safe, recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
		    <%= link_to '<li><i class="fa fa-list-alt"></i>Show</li>'.html_safe, recipe %>
		    <%= link_to '<li><i class="fa fa-cart-plus"></i>Cart</li>'.html_safe, carts_path(:user => session['user_id'], :recipe => recipe.id), :method => :post %>
  		</ul>
	</div>
	   <% end %>
  <% end %>
</div>