<head>
  <style>
    /* CSS design by @jofpin */
@import url(https://fonts.googleapis.com/css?family=Abel|Indie+Flower|Lobster);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.title-pen {
  color: white;
  font-family: "Lobster", cursive;
  text-align: center;
}
.title-pen span {
  text-align: center;
  color: green;
  font-family: "Indie Flower", sans-serif;
  font-size: 60px;
}

.user-profile {
  margin: auto;
	width: 40%; 
  height: 11em;
  background: #f2f2f2;
  border-radius: .3em;
}

.user-profile  .username {
  margin: auto;
  padding-top: .5em;
  margin-top: 0px;
  margin-left: 6em;
  color: #1d9f1d;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.user-profile  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 1em;
  color: #e76043; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > .description {
  margin: auto;
  padding-left: 1.3em;
  margin-bottom: .07em;
  width: 14em;
  color: black; 
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile .avatar {
  margin-left: .5em;
  padding-top: 1.5em;
  float: left;
}
.user-profile ul.data {
	height: 3.70em;
	margin-top: 30px;
  background: #1d9f1d;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user-profile li {
	margin: 0 auto;
  padding: 1.2em; 
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user-profile span {
	font-family: "varela round", sans-serif;
	color: #e3eeee;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.user-profile span:hover {
  color: #daebea;
}

footer > h1 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "Coda", sans-serif;
  color: #343f3d;
  line-height: 6;
  font-size: 1.6em;
}
footer > h1 a {
  text-decoration: none;
  color: #ea4c89;
}
#image_id {
  margin: 20px;
}
  </style>
</head>

<p id="notice"><%= notice %></p>
<h1 class="title-pen"> User Profile</h1>
<div class="user-profile">
    <div class="avatar">
	  <%= image_tag @user.picture.url if @user.picture? %>
	  </div>
    <div class="username"><%= @user.first_name %> <%= @user.last_name %></div>
    <div class="bio">
  	Biography:
  </div>
    <div class="description">
      <%= @user.bio%> <br>
  </div>
  <div class="bio">
  	Dietary Preferences:
  </div>
    <div class="description">
      Gluten free: <%= @user.gluten_free %>
      <br>Lactose intolerant: <%= @user.lactose_intol %>
      <br>Organic: <%= @user.organic %>
  </div>
  <ul class="data">
    <li>
      <span class="entypo-edit"><%= link_to 'Edit My Profile', edit_user_path(@user) %></span>
    </li>
 </ul>
</div>
  <footer>
  </footer>
  
<p>
  <div class="title-pen"><span>Saved Recipes</span></div>
</p>
 <tbody>
   <% @saved_recipes.each do |recipe| %>
     <% recipeCart.recipe.each do |recipe| %>
       <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.directions %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.origin %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Add to cart", carts_path(:user => session['user_id'], :recipe => recipe.id), :method => :post %></td>
       </tr>
    <% end %>
   <% end %>
 </tbody>
<p>
  <div class="title-pen"><span>Personal Recipes</span></div>
</p>
 <tbody>
   <% @personal_recipes.each do |recipeList| %>
     <% recipeCart.recipe.each do |recipe| %>
       <tr>
        <td><%= recipe.name %></td>
        <td><%= recipe.directions %></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.origin %></td>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Add to cart", carts_path(:user => session['user_id'], :recipe => recipe.id), :method => :post %></td>
       </tr>
      <% end %>
    <% end %>
 </tbody>