<!DOCTYPE HTML>
<html>
	<head>
		<title>Grocery Guru</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<%= stylesheet_link_tag "about" %>
		<%= javascript_include_tag('application.js') %>
	</head>
	<body>

		<!-- Banner -->
			<section id="banner">
				<h2>Our <strong>mission</strong> is to take the hassle out of cooking</h2>
				<p>We aim to remove the unneccesary burdens of home-cooked meals by providing our users with the technology to quickly and easily plan meals and get groceries.</p>
				<ul class="actions">
					<li><a href="/" class="button special">Home</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major">
						<h2 style="margin-bottom: -25px;">Meet Our Developers</h2>
					</header>
					<img src="https://i.imgur.com/HD77UHe.jpg" style="width: 50%; margin-bottom: 20px; margin-top: -20px;"></img>
					<div class="features">
						<div class="feature">
							<i class="fa fa-diamond"></i>
							<h3>Michelle Nguyen</h3>
							<p><a href="http://twitter.com/nguy3nmichelle/" target="_blank">@nguy3nmichelle</a></p>
							<p>Michelle is from West Jordan, UT. She is currently in the BS/MS program in Computer Science at the University of Utah with an expected graduation of May 2019. Her hobbies include playing board games, watching Netflix, and doing makeup.</p> 
							<p>Michelle's contributions to Grocery Guru involve all of the front-end views, implementation of the meal-planning calendar, searching for recipes, as well as importing recipes via point-and-click and URL upload. </p>
						</div>
						<div class="feature">
							<i class="fa fa-copy"></i>
							<h3>Adam Sorensen</h3>
							<p><a href="http://twitter.com/revan1731/" target="_blank">@revan1731</a></p>
							<p>Adam is from Manti, UT. He is a senior in the Computer Science program at the University of Utah. In his free time, he likes to play videogames, go hiking and play tennis. He currently works as a software developer at TaskEasy in Salt Lake City, UT. </p>
							<p>Adam's contributions to Grocery Guru involve MYSQL database setup and maintanence for recipes, ingredients, users, and meal plans; Heroku deployment; and implementation of a "smarter" and more user-friendly grocery checklist. </p>
						</div>
						<div class="feature">
							<i class="fa fa-paper-plane-o"></i>
							<h3>Rob Olsen</h3>
							<p><a href="http://www.snapchat.com/add/rolsenrob" target="_blank">@rolsenrob</a></p>
							<p>Rob grew up here in Salt Lake City. He originally majored in Psychology/Biology as a double major, but soon changed his major to Computer Science. He currently works at Qualtrics on their security team. In his free time he likes to ride his bike, and eat some good sushi.</p>
							<p>Rob's contributions to Grocery Guru include setting up store integrations with Wal-Mart and Smith's, developing the recipe cart, assisting with development of the grocery list, and writing scripts for collection of seed data.</p>
						</div>
						<div class="feature">
							<i class="fa fa-save"></i>
							<h3>Tanner Wilson</h3>
							<p><a href="https://www.instagram.com/wils00000n/" target="_blank">@wils00000n</a></p>
							<p>Tanner is from Woodland Park, CO. He moved to Salt Lake City, UT to pursue his CS degree at the University of Utah. When Tanner isn't programming, he can be found eating copious amounts of Mac & Cheese. Tanner also has a passion for the outdoors and video games. </p>
							<p>Tanner's contributions to Grocery Guru consist of sharing his favorite movie quotes. Besides that he also put some time into filters/tags for recipes, store integration architecture, the meal plans feature, account logistics, and session handling. </p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2>Get in touch</h2>
					</header>
					<%= form_tag '#', :class => "grid-form", :id => "grid-form", :remote => true do %>
					<div class="form-control narrow">
					<%= label_tag 'name', 'Name'%>
					<%= text_field_tag 'name', '', :id => "name", :required => true %></div>
					<div class="form-control narrow">
					<%= label_tag 'email', 'Email'%>
					<%= text_field_tag 'email', '', :required => true %>
					</div>
					<div class="form-control">
					<%= label_tag 'message', 'Message'%>
					<%= text_area_tag 'body', '', :required => true %></div>
					<ul class="actions">
					<%= submit_tag "submit", :id => "form-submit", :value => "Send Message", :onclick => "showAlert();" %></ul>
					<% end %>
				</div>
			</section>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>