<p id="notice"><%= notice %></p>

<h1>Listing Prep Notes</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prep_notes.each do |prep_note| %>
      <tr>
        <td><%= prep_note.note %></td>
        <td><%= link_to 'Show', prep_note %></td>
        <td><%= link_to 'Edit', edit_prep_note_path(prep_note) %></td>
        <td><%= link_to 'Destroy', prep_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prep note', new_prep_note_path %>
