<head>
  <%= stylesheet_link_tag "list" %>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">
  <a href="/recipes"><i class="fa fa-search"></i></a> 
  <a href=""><i class="fa fa-print" onclick=printpage()></i></a> 
  <a href=""><i class="fa fa-sign-in" onclick="window.open('https://grocery.walmart.com','_blank')"></i></a> 
</div>
<h2>Grocery List</h2>
<center>
<br>
<script>
$(document).ready(function() {
  $('.ingredient_table tr').click(function(event) {
    if (event.target.type !== 'checkbox') {
      $(':checkbox', this).trigger('click');
    }
  });
});
</script>
</head>
<body>

<%= form_tag checkout_path, :method => :post do %>
<div class="container1">
    <table class="ingredient_table">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients.each do |ingredient| %>
        <tr>
          <td><%= check_box_tag "ingredient_ids[]", ingredient.id, true %></td>
          <td><h4><%= ingredient.name %></h4></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>
<div class="btn btn-outline btn-xl page-scroll" onclick=printpage()> Print</div>
<%= submit_tag "Checkout", :class => 'btn btn-outline btn-xl page-scroll'%> 
<br>
<% end %>
<br>
<br>
<!--<button class="button" onclick=" $(location).attr('href', 'create_list')">Send To Store</button></center>-->

