<head>
  <%= stylesheet_link_tag "list" %>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">
  <a href="/recipes"><i class="fa fa-search"></i></a> 
  <a href=""><i class="fa fa-print" onclick=printpage()></i></a> 
  <a href=""><i class="fa fa-sign-in" onclick="window.open('https://grocery.walmart.com','_blank')"></i></a> 
</div>
<h2>Grocery List</h2>
<center>
<br>
<script>
$(document).ready(function() {
  $('.ingredient_table tr').click(function(event) {
    if (event.target.type !== 'checkbox' && event.target.id != 'addButton' && 
      event.target.id != 'remove_item' && event.target.name != 'amount_input') {
      $(':checkbox', this).trigger('click');
    }
  });
  $('.add_item').click(function(){
    var item = $("#add_item_field").val();
    var markup = "<tr><td><input type='checkbox' id=\"ingredient_ids[]\" value=0 checked>\
    </td><td>" + item + "</td><td><input type=\"number\" style=\"width:90px\" min=\"0\" name=" + item + " size=\"5\" id='0' value=1 /> </td></tr>";
    $("table tbody").append(markup);
    
  })
});

function increment(ingre) {
  var number = document.getElementById(ingre).value
  number++;
  document.getElementById(ingre).value = number
};
function decrement(ingre) {
  var number = document.getElementById(ingre).value;
  if (number < 1 || number == 0) {
    number = 0;
  }
  else {
    number--;
  }
  document.getElementById(ingre).value = number;
};
function remove(r) {
  var i = r.parentNode.parentNode.rowIndex;
  document.getElementById("mytable").deleteRow(i);
};
</script>
</head>
<body>

<%= form_tag checkout_path, :method => :post do %>
<h4>Need something else?</h4>
<input type="text" id="add_item_field" />
<input type="button" value="Add Item" class="add_item" onclick="add_item()" />
<div class="container1">
    <table class="ingredient_table" id="mytable">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients2.each do |ingredient, value| %>
        <tr>
          <td><%= check_box_tag "ingredient_ids[]", ingredient.id, true %></td>
          <td><h4><%= ingredient.name %></h4></td>
          <!--<td><input type="button" id="addButton" value=" + " onclick="increment('<%=ingredient.name%>');" style="font-size:14px;" ></td>-->
          <!--<td><input type="button" id="subButton" value=" - " onclick="decrement('<%=ingredient.name%>');" style="font-size:14px;" ></td>-->
          <% if @blacklist.include? ingredient.name %>
            <!--<td><h4 id='<%=ingredient.name  %>'><%= value.round %></h4></td>-->
            <td><input type="number" style="width:90px" min="0" name="amount_input" size="5" id='<%=ingredient.name %>' value=<%= value.round %> /> </td>
          <% else %>
            <!--<td><h4 id='<%=ingredient.name %>'><%= value %>  </h4></td>-->
            <td><input type="number" style="width:90px" min="0" name="amount_input" size="5" id='<%=ingredient.name %>' value=<%= value %> /> </td>
            <td><h4>  oz</h4></td>
            <td><input type="button" id="remove_item" value="Remove Item" onclick="remove(this);" style="font-size:14px;" ></td>
          <% end %>
          
          
          
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>
<div class="btn btn-outline btn-xl page-scroll" onclick=printpage()> Print</div>
<%= submit_tag "Checkout", :class => 'btn btn-outline btn-xl page-scroll'%> 
<br>
<% end %>
<br>
<br>
<!--<button class="button" onclick=" $(location).attr('href', 'create_list')">Send To Store</button></center>-->

