<head>
  <%= stylesheet_link_tag "list" %>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">
  <a href="/recipes"><i class="fa fa-search"></i></a> 
  <a href=""><i class="fa fa-print" onclick=printpage()></i></a> 
  <a href=""><i class="fa fa-sign-in" onclick="window.open('https://grocery.walmart.com','_blank')"></i></a> 
</div>
<h2>Grocery List</h2>
<center>
<br>
<script>
$(document).ready(function() {
  $('.ingredient_table tr').click(function(event) {
    if (event.target.type !== 'checkbox' && event.target.id != 'addButton' && 
      event.target.id != 'remove_item' && event.target.name != 'amount_input') {
      $(':checkbox', this).trigger('click');
    }
  });
  $('.add_item').click(function(e){
    e.preventDefault();
    var item = $("#add_item_field").val();
    if (item == "") {
      // sweet alert?
      alert("Please type an item to add.");
    }
    else {
      var arr = [];
      $(".ingredient_table tr").each(function() {
        arr.push(this.id.toUpperCase());
      });
      if (arr.includes(item.toUpperCase())) {
        // sweet alert?
        alert("Item is already in cart.");
      }
      else {
        var markup = "<tr id=\"" + item + "\"><td><input type='checkbox' id=\"ingredient_ids[]\"\
        value=0 checked></td><td>" + item + "</td><td><input type=\"number\" style=\"width:90px\"\
        min=\"0\" name=" + item + " size=\"5\" id='0' value=1 /></td><td><h4></h4></td><td><input \
        type=\"button\" id=\"remove_item\" value=\"Remove Item\" onclick=\"remove(this);\" style=\"font-size:14px;\" ></td></tr>";
        $.ajax(
            {
               type: 'post',
                url: '/list/add_item',
                data: {
                    ingr: item
                },
                // dataType: "json",
                success: function(data){
                  $("table tbody").append(markup);
                  swal({
                     type: 'success',
                     title: item + ' was added',
                     showConfirmButton: false,
                     timer: 1500
                  });
                  // window.setTimeout(refresh, 2000);
               },
               error: function(jqXHR, textStatus, errorThrown) {
                 alert("something went wrong");
                 console.log(errorThrown);
                 console.log(jqXHR);
                 console.log(textStatus);
               }
            }
         );
      }
      $("#add_item_field").val("");
    }
  })
});


function remove(r) {
  // swal("hello");
  // sweet alert?
  // swal('', 'Are you sure you want to remove this item?', 'confirm');
  if (confirm("Are you sure you want to remove this item?")) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("ingre_table").deleteRow(i);  
  }
};
</script>
</head>
<body>

<%= form_tag checkout_path, :method => :post do %>
<h4>Need something else?</h4>
<input type="text" id="add_item_field" />
<input type="button" value="Add Item" class="add_item" />
<div class="container1">
    <table class="ingredient_table" id="ingre_table">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients2.each do |ingredient, value| %>
        <tr id="<%= ingredient.name %>">
          <td><%= check_box_tag "ingredient_ids[]", ingredient.id, true %></td>
          <td><h4><%= ingredient.name %></h4></td>
          <% if @blacklist.include? ingredient.name %>
            <td><input type="number" style="width:90px" min="0" name="amount_input" size="5" id='<%=ingredient.name %>' value=<%= value.round %> /> </td>
            <td><h4></h4></td>
            <td><input type="button" id="remove_item" value="Remove Item" onclick="remove(this);" style="font-size:14px;" ></td>
          <% else %>
            <td><input type="number" style="width:90px" min="0" name="amount_input" size="5" id='<%=ingredient.name %>' value=<%= value %> /> </td>
            <td style="padding:0 10px 0 10px;"><h4>  oz</h4></td>
            <td><input type="button" id="remove_item" value="Remove Item" onclick="remove(this);" style="font-size:14px;" ></td>
          <% end %>
          
          
          
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>
<div class="btn btn-outline btn-xl page-scroll" onclick=printpage()> Print</div>
<%= submit_tag "Checkout", :class => 'btn btn-outline btn-xl page-scroll'%> 
<br>
<% end %>
<br>
<br>
<!--<button class="button" onclick=" $(location).attr('href', 'create_list')">Send To Store</button></center>-->

