<head>
  <%= stylesheet_link_tag "list" %>
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">
  <a href="/recipes"><i class="fa fa-search"></i></a> 
  <a href=""><i class="fa fa-print" onclick=printpage()></i></a> 
  <a href=""><i class="fa fa-sign-in" onclick="window.open('https://grocery.walmart.com','_blank')"></i></a> 
</div>
<h2>Grocery List</h2>
<center>
<br>
<script>
$(document).ready(function() {
  $('.ingredient_table tr').click(function(event) {
    if (event.target.type !== 'checkbox' && event.target.id != 'addButton' && event.target.id != 'subButton') {
      $(':checkbox', this).trigger('click');
    }
  });
});
function increment(ingre) {
    var ingredientInfo = $("#ingre");
    var number = ingredientInfo.innerHTML;
    number++;
    ingredientInfo.innerHTML = number;
};
function decrement(ingre) {
    var ingredientInfo = $("#ingre");
    var number = ingredientInfo.innerHTML;
    if (number < 1 || number == 0) {
      number = 0;
    }
    else {
      number--;
    }
    ingredientInfo.innerHTML = number;
};
</script>
</head>
<body>

<%= form_tag checkout_path, :method => :post do %>
<div class="container1">
    <table class="ingredient_table">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ingredients2.each do |ingredient, value| %>
        <tr>
          <td><%= check_box_tag "ingredient_ids[]", ingredient.id, true %></td>
          <td><h4><%= ingredient.name %></h4></td>
          <td><input type="button" id="addButton" value=" + " onclick="increment('<%=ingredient.name%>');" style="font-size:14px;" ></td>
          <td><input type="button" id="subButton" value=" - " onclick="decrement('<%=ingredient.name%>');" style="font-size:14px;" ></td>
          <% if @blacklist.include? ingredient.name %>
            <td><h4 id='<%=ingredient.name  %>'><%= value.round %></h4></td>
          <% else %>
            <td><h4 id='<%=ingredient.name %>'><%= value %>  </h4></td>
            <td><h4>  oz</h4></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
<br>
<div class="btn btn-outline btn-xl page-scroll" onclick=printpage()> Print</div>
<%= submit_tag "Checkout", :class => 'btn btn-outline btn-xl page-scroll'%> 
<br>
<% end %>
<button id="jobBtn" data-session="<%=session['user_id']%>" onclick="startJob()">Fill Cart</button>
<br>
<a href="https://groceryguru-docrosco.c9users.io:8081/?userId=1&store=walmart"> Fill Cart</a>
<!--<button class="button" onclick=" $(location).attr('href', 'create_list')">Send To Store</button></center>-->

