<!DOCTYPE html>
<html>
<head>
  <title>Grocery Guru</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
  <header>
      <nav class="website-nav">
        <a href="/recipes" style="position: absolute;left: 0;text-align: center;margin: auto;color: white;padding-left: 20px;font-size: x-large;display: inline-block;">Grocery Guru</a>
        <ul>
          <li><%= link_to 'Recipes', recipes_path %></li>
          <li>&bull;</li>
          <li><%= link_to 'Calendar', '/calendar' %></li>
          <li>&bull;</li>
          <li><%= link_to 'Cart', '/cart' %></li>
          <li>&bull;</li>
          <li><%= link_to 'My Profile', '/users/' + session[:user_id].to_s  %></li>
          <li>&bull;</li>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        </ul>
      </nav>
  </header>
  <% end %>
  <div class="container">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
